
/* GENERAL */
:root {
    --main-color-dark: rgba(24,0,0,1);
    --second-color-dark: rgba(0,24,24,1);
    --bigger-text-size: 2.2rem;
    --small-text-size: 1.2rem;
}
img{
    max-width: 80px;
}
body{
    padding:0;
    background-color: black;
    margin:0;
    overflow: hidden;
    font-size: 2rem;
    color: #fff;
}
a{
    text-decoration: none;
    color: white;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input , select{
    background-color: #111;
    color: white;
    border: #555 solid 1px;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    font-family: Rubik;
}

/* TOPBAR */
.topbar{
    height: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 80px auto auto;
    text-align: center; 
    background-color: var(--second-color-dark);
    z-index: 9999;
}
#header { 
    font-weight: 600;
    display: flex;
    animation: gradOO 20s linear normal infinite;
    justify-content: center;
    align-items: center;
}
#headerback { 
    font-weight: 800;
    display: flex;
    justify-content: right;
    align-items: center;
}
.headerback {
    cursor: pointer;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #000000;
    padding: 0rem 1rem;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid;
    border-color: #000 #888 #888 #444;
    box-shadow: #000;
}
.headerback:hover {
    font-weight: 100;
    background-color: #181818;
    border-color: #222 #bbb #bbb #888;
}



/* BOTTOM BAR */
#bottomBar{
    position: absolute;
    bottom: 0;
    height: 60px;
    background-color: var(--second-color-dark);
    width: 100%;
    align-items: center;
    padding: 0px;
    display: grid;
    grid-template-columns: 50vw auto;
    z-index: 9999;
    font-weight: 400;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: var(--small-text-size);
}
#lastGameType{
    text-align: center;
    color: yellowgreen
}
#lastGame{
    text-align: left;
}



/* POOL AND DART MENU */
#back{
    position: absolute;
    z-index: 99999;
    bottom: 60px;
    visibility: visible;
    padding: 13px;
    background-color: #000000;
    color: white;
    font-weight: 600;
    visibility: hidden;
    box-shadow: none;
    opacity: 1;
    right: 0;
    font-size: var(--small-text-size);
}
#poolMenu{
    display: grid;
    visibility: hidden;
}
#poolMenu > a:hover > div {
    background-color: var(--second-color-dark);
}
#rules{
    align-items: center;
    text-align: center;
    background-color: black;
    justify-content: center;
}
#rules:hover {
    background-color: var(--second-color-dark);;
}
.listedGame {
    align-items: center;
    text-align: center;
    background-color: #121;
    display: flex;
    height: 20vh;
    margin: 10px;
    justify-content: center;
}
.notReady {
    opacity: 0.4;
    z-index: 0;
}
#dartsMenu{
    position: absolute;
    top: 100px;
    width: 100%;
    display: grid;
    visibility: hidden;
}
#dartsMenu > a:hover > div {
    background-color: var(--second-color-dark);
}
.listofGames{
text-align: center;
height: 50vh;
display: flex;
justify-content: center;
align-items: center;
background-blend-mode: color;
}
.listofGames:hover{
    background-blend-mode:luminosity;
    color: red;
    scale: 1.2;
}
#gameChoice{
    font-weight: 500;
    position: absolute;
    top: 25vh;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto; 
    font-size: var(--bigger-text-size);
}
#pool{
    background-image: url("pool.jpg");
    background-color: rgba(0,0,0,0.8);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    cursor: pointer;
}
#darts{
    background-image: url("darts.jpg");
    background-color: rgba(0,0,0,0.8);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    cursor: pointer;
}



/* IN-GAME POOL */
#settings{
    z-index: 999999;
    background-color: rgba(0,0,0,0.8);
    padding: 10px;
    position: absolute;
    top: 0;
    padding: 25px 25px 0;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: flex-end;
    visibility: hidden;
}
.settingsbutton {
    margin-top: 5px;
    font-family: Rubik;
    width: 100%;
    background-color: #020;
    color: white;
    border: none;
}
.settingsbutton:hover {
    background-color: #020;
    color: white;
}
.game{
    background-color: var(--main-color-dark);
    margin-top: 5vh;
    display: grid;
    text-align: center;
    grid-template-rows: auto auto;
}
.gamerow1{
    display: grid;
    border-top: 2px solid #888888;
    border-radius: 20px 20px 0 0;
    grid-template-columns: 42% 8% 8% 42%;
    min-height: 80px;
    height: 15vh;
}
.gamerow2{
    display: grid;
    grid-template-columns: 21% 21% 16% 21% 21%;
    font-size: 1.2rem;
    min-height:40px;
    height: 4vw;
    
}
.ingamediv {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#player1name, #player2name{
    background-color: rgba(0,0,0,0);
}
#player1score, #player2score{
    background-color: rgba(0,0,0,1);
}
#nothingness {
    background-color: #000;
}
#howmanygames {
    grid-column: 2/4;
    background-color: #000;
}
#playeraddscore{
    background-color: #001100;
}
#playeraddscore:hover {
    background-color: #005500;
}
#playerremovescore{
    background-color: #110000;
}
#playerremovescore:hover {
    background-color: #550000;
}
.playertimer{
    font-size: var(--bigger-text-size);
    background-color: black;
    border-radius: 0 0 20px 0;
    color: #bbbbbb;
}
#timeleft{
    display: grid;
    align-items: center;
    grid-template-columns: 21% 21% 37% 21%;
    text-align: center;
    width: 100vw;
    font-size: var(--small-text-size);
}
#timeleft > div {
    display: flex;   
    justify-content: center;
    align-items: center;
    min-height: 49px;
    max-height: 200px;
    height: 6vw;
}
#extension{
    background-color: #550000;
    border-radius: 20px;
}
#actualClock{
    background-color: #000;
    font-size: var(--bigger-text-size);
}
#controllers{
    display:grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    visibility: hidden;
}
#controllers > div {
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
}
.timemachine{
    background-color: #001100;
    visibility: hidden;
    height: 60px;
    border-bottom: 2px solid #888888;
    border-radius: 0 0 20px 20px;
    line-height: 60px;
    cursor: pointer;
    grid-column:1 / 3;
}
.timemachine > i {
    align-content: center;
    text-align: center;
    height: 100%;
    justify-content: center; 
}
.next{
    background-color: #001100;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in;
    height: 60px;
    line-height: 60px;
}
.next:hover{
    background-color: #151;
}
.miss{
    height: 60px;
    line-height: 60px;
    background-color: #110000;
    transition: all 0.5s ease-in;
    justify-content: center;
    align-items: center;
}
.miss:hover{
    background-color: #500;
}
.indiLabel{
    background-color: #000000;
    height: 2rem;
    color: white;
    border-bottom: 2px solid #333;
    border-left: 2px solid #333;
    border-right: 2px solid #333;
    border-radius: 0 0 11px 11px;
    font-size: var(--small-text-size);
}
.playingRN{
    background-color: rgba(255,255,0,0.5);
}
/* IN-GAME DARTS */
#dartgame {
    bottom: 50px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Rubik, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 1vw;
}
#multipliers{
    width: 100%;
    display: grid;
    grid-template-columns: 49vw 49vw;
    height: 70px;
}
#points {
    display: grid;
    width: 99vw;
    background-color: var(--main-color-dark);
    grid-template-columns: repeat(7, 14vw); /* 7 equal columns */
}
.dartnumber{
    height: 70px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border: 1px solid #222;  
    transition: all 0.2s ease;
    cursor: pointer;
}
.dartnumber:hover{
    background-color: #500000;
}
#scoreboard > div:first-child{
    display: grid;
    grid-template-columns: 30vw 20vw 30vw 20vw;
}
#scoreboard > div:first-child > div{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}
#scoreboard > div:last-child{
    display: grid;
    grid-template-columns: 40vw 20vw 40vw;
}
.dartsPlayerName{
    background-color: #002;
}
.multiON{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: red;
    border: 1px solid #222;
    cursor: pointer;
    color: white;
    animation: weirdGrad 2s infinite;
}
.multiOFF{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #000;
    border: 1px solid #222;  
    cursor: pointer;
    color: red;
    animation: none;
}
.dark-round-btn, .dark-round-btn:active {
    position: absolute;
    bottom: 60px;
    z-index: 99999;
    right: 0;
    background: black;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.2em 0.2em; /* makes it grow with text */
    min-width: 2em;       /* keeps it from collapsing */
    min-height: 60px;      /* ensures height matches width */
    display: inline-flex; /* centers text horizontally & vertically */
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s ease;
}
.dark-round-btn:hover {
    background: var(--main-color-dark);
  box-shadow: 
    5px 5px 10px rgba(0, 0, 0, 0.7),
    -2px -2px 6px rgba(255, 255, 255, 0.07);
}


/* SMALL SCREEN */
@media only screen and (max-width: 500px) {
    body{
        color: white;
    }
    #timeleft{
        margin-top: 5vh;
    }
}



/* BIG SCREEN */
@media only screen and (min-width: 3000px) {
}



/* ANIMATIONS */
@keyframes gradOO {
    0% {color: white;letter-spacing: 0px}
    88% {color: white;letter-spacing: 0px}
    90% {color: white;letter-spacing: 5px}
    96% {color: white;letter-spacing: 5px}
    98% {color: #232;letter-spacing: 5px}
    99% {color: #232;letter-spacing: 5px}
    100% {color: white;letter-spacing: 0px}
}
@keyframes mainMenuOutTiles {
    0% {opacity: 1; margin-left: 0vw; font-size: 2rem;}
    100% {opacity: 0; margin-left: 80vw; font-size: 4rem;}
}
@keyframes mainMenuInTiles {
    0% {opacity: 1; margin-top: 0vh; font-size: 2rem;}
    100% {opacity: 0; margin-top: 80vh; font-size: 4rem;}
}
@keyframes weirdGrad {
    0% {background-color: rgba(255,0,0,1);}
    50% {background-color: rgba(99,0,0,1);}
    100% {background-color: rgba(255,0,0,1);}
}
@keyframes nextshotAnim {
    0% {background-color: #040;}
    100% {background-color: #060;}
}